html{
    font-size: 100px;
}
body{
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.head{
    position: relative;
    top: -30px;
    .good-title{
        width: 100%;
        height: 35px;
        position: absolute;
        top: 110px;
        position: relative;
        #navigation-desktop-menu{
            display: block;
            padding: 0;
            margin: 0;
            list-style: none;
            position: absolute;
            left: 130px;
            a{
                display: block;
                text-decoration: none;
                color: black;
                text-align: center;
                float: left;
                height: 35px;
                font-size: 13px;
                text-align: center;
                margin-right: 40px;
            }
                .navigation-tab{
                    display: block;
                    float: left;
                    span{
                        height: 16px;     
                }
                .navigation-tab:nth-child(1){
                    margin-left: 0px;;
                }
            }
            a:hover {
             
              border-bottom: 2px solid black;
              font-weight: 600;
            }
            
        }
    }
}
#logo {
    float: left;
    position: relative;
    top: 50px;
    left: 200px;
    right: 400px;
}

.crousel {
    margin-top: 20px;
    width: 100%;
    height: 530px;
  }

